/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/*customize by longfei0128*/

/*grid*/
.g1 { width:10%;}
.g2 { width:20%;}
.g3 { width:30%;}
.g4 { width:40%;}
.g5 { width:50%;}
.g6 { width:60%;}
.g7 { width:70%;}
.g8 { width:80%;}
.g9 { width:90%;}
.g10 { width:100%;}

a { color: #333; text-decoration: none; }

input[type=submit], button { cursor: pointer;}
strong, b, .b { font-weight: bold; }
em, i{ font-style:normal;}
.u { text-decoration: underline; }

.center { text-align: center; }
.tr { text-align: right; }
.tl { text-align: left; }
.tc { text-align: center; }

.fr { float: right; }
.fl { float: left; }

.ff90{color:#ff9900;}
.f390{color:#339900;}
.f333 { color:#333;}
.f666 { color:#666;}
.f999 { color:#999;}

.f10 { font-size: 10px; }
.f11 { font-size: 11px; }
.f12 { font-size: 12px; }
.f14 { font-size: 14px; }
.f15 { font-size: 15px; }
.f16 { font-size: 16px; }
.f18 { font-size: 18px; }
.f20 { font-size: 20px; }
.f24 { font-size: 24px; }

.show,.block { display: block; }
.hide,.none { display: none; }
.yahei { font-family: "Microsoft YaHei"; }
.songti { font-family:SimSun;}
.verdana { font-family:Verdana;}

.vm { vertical-align:middle;}

.mt5 { margin-top: 5px; }
.mr5 { margin-right: 5px; }
.mb5 { margin-bottom: 5px; }
.ml5 { margin-left: 5px; }
.mt10 { margin-top: 10px; }
.mr10 { margin-right: 10px; }
.mb10 { margin-bottom: 10px; }
.ml10 { margin-left: 10px; }

.p5 { padding:5px;}
.p10 { padding:10px;}
.pt5 { padding-top: 5px; }
.pr5 { padding-right: 5px; }
.pb5 { padding-bottom: 5px; }
.pl5 { padding-left: 5px; }
.pt10 { padding-top: 10px; }
.pr10 { padding-right: 10px; }
.pb10 { padding-bottom: 10px; }
.pl10 { padding-left: 10px; }

.lh1 { line-height:1;}
.lh2 { line-height:2;}
.lh3 { line-height:3;}

.pointer { cursor:pointer;}
.noborder { border:0 none;}

html { background: #fff; color: #000; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
.w{width:1190px;margin:0 auto;}

.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clearfix { display: inline-table; }
* html .clearfix { height: 1%; }
.clearfix { display: block; *zoom:1;}


body{background:#f5f5f5;}
.header{border-bottom:1px solid #e1e1e1;color:#666;background:#f9f9f9;height:29px;font-size:12px;}
.header .shouji{width:300px;}
.header .shouji a{background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat -249px -429px;padding:0 5px 0 20px;line-height:29px;}
.header .shouji a:hover{color:#f60;background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat -249px -455px;}
.header .menu li a:hover{color:#f90;}
.header .menu li{margin-right:20px;line-height:29px;}
.header .menu .zhuce{display:block;}
.header .menu .song{background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat -46px -42px;width:65px;height:18px;display:inline-block;}
.header .menu .weixin{background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat -235px -172px;width:75px;line-height:20px;height:20px;padding:4px 0 0 30px;}

.headers{background:#fff;}
.headers .slogan{border-left:1px solid #ccc;margin-top:9px;padding-left:15px;margin-left:15px;color:#666;}
.headers .slogan .p1{color:#FF9900;font-family:'Microsoft YaHei';}
.headers .search{margin-left:35px;margin-top:8px;}
.headers .search .search-box .diqu{border:1px solid #f60;padding:8px 17px 8px 23px;margin-right:-9px;display:inline;position:relative;z-index:100;}
.headers .search .search-box .i1{border:1px solid #f60;width:325px;height:28px;margin-left:8px;position:relative;}








.headers .search .search-box .i2{width:77px;height:32px;background:#f60;border:none;margin-left:-9px;color:#fff;font-family:'Microsoft YaHei';}
.headers .search .search-box .i2:hover{background:#e55c00;}
.headers .search .search-box .i2,.headers .search .search-box .diqu{cursor:pointer;}
.headers .search .search-box .diqu span{position:relative;padding:0 5px;margin-left:5px;}
.headers .search .search-box .diqu span em{color:#999;left:0;position:absolute;font-size:14px;top:2px;}
.headers .search .search-box .diqu span i{color:#fff;left:0;position:absolute;font-size:14px;top:5px;}
.headers .search .search-box .diqu span.s-on em,.headers .search .search-box .diqu:hover span em{top:-1px;}
.headers .search .search-box .diqu span.s-on i,.headers .search .search-box .diqu:hover span i{top:-4px;}
.headers .search .search-box .diqu:hover .diqu-box{display:block;}

.diqu-box{width:393px;height:320px;border:1px solid #f60;padding:10px;position:absolute;left:-1px;top:30px;background:#fff;display:none;}
.diqu-box dl,.i1-on dl {border-bottom:1px solid #eee;}
.diqu-box .on{background:#f60;padding:3px 5px;color:#fff;}
.diqu-box dt,.i1-on dt{margin-bottom:10px;}
.diqu-box dd {margin-bottom:15px;}
.diqu-box dd a,.i1-on dd a{color:#36c;margin-right:20px;margin-bottom:15px;}
.diqu-box .a1:hover{color:#f60;}
.diqu-box .li-a{width:352px;}
.diqu-box p{margin-top:15px;}
.diqu-box li,.i1-on li{line-height:22px;margin-bottom:10px;}
.diqu-box li i,.i1-on li i{margin-right:15px;}
.diqu-box li a,.i1-on li a{margin-right:10px;color:#36c;}
.diqu-box li a:hover{color:#f60;}

.i1-on{width:317px;border:1px solid #f60;position:absolute;z-index:100;background:#fff;left:817px;top:79px;padding:10px 0 10px 10px;display:none;}
.i1-on  a:hover{color:#f60;}
.i1-on .li-a{width:250px;}


.headers .search .dizhi{background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat  -207px -362px;margin-top:5px;}
.headers .search .dizhi a{margin-left:15px;color:#999;}
.headers .search .dizhi a:hover{color:#f90;}
.headers .new400{margin-left:15px;width:137px;background:url(http://r.uzaicdn.com/static/index/images/index.gif) no-repeat -240px -339px;padding-left:15px;margin-top:20px;}
.headers .new400 .s2{font-size:20px;font-weight:700;color:#f60;}
.headers .gif{margin-top:10px;}


.nav{height:40px;background:#66BB00;text-align:center;width:100%;}
.nav-on{position:fixed;left:0;top:0;}
.nav .nav-zuo{line-height:40px;}
.nav .nav-zuo p{color:#fff;width:230px;font-family:'Microsoft YaHei';font-weight:900;background:#74D302;}
.nav .nav-you{margin-left:230px;}
.nav .nav-you li{float:left;width:10%;position:relative;}
.nav .nav-you li a{font-size:14px;font-family:'Microsoft YaHei';color:#fff;line-height:40px;}
.nav .nav-you li:hover,nav .nav-you .on{background:#529600;cursor:pointer;}
.nav .nav-you li:hover a{color:#F90;}
.nav .nav-you li .i1,.i2,.i3,.i4{width:17px;height:20px;top:-7px;right:12px;}
.nav .nav-you li .i1{background:url(http://r.uzaicdn.com/static/base/global/images/icon24.png) no-repeat -29px -79px;}
.nav .nav-you li .i2{background:url(http://r.uzaicdn.com/static/base/global/images/icon24.png) no-repeat 0 -79px;}
.nav .nav-you li .i3{background:url(http://r.uzaicdn.com/static/base/global/images/icon24.png) no-repeat -58px -79px;}
.nav .nav-you li .i4{background:url(http://r.uzaicdn.com/static/base/global/images/icon24.png) no-repeat -29px -79px;}

.crumbs{margin:0 auto;font-size:12px;font-family:宋体;line-height:36px;} 
.crumbs a:hover{color:#f90;}


.sidebar { width: 230px; }
.sidebar .side-mod { border: 1px solid #dfdfdf; background: #fff;margin-bottom:10px; }
.sidebar .side-mod h2 { border-bottom: 1px solid #dfdfdf; line-height: 40px; padding: 0 15px; font-size: 18px; font-family: 'Microsoft YaHei'; }

 .sidebar-a .xinan { padding: 10px 0; }
.sidebar-a .xinan dt { font-family: 'Microsoft YaHei'; font-size: 14px; padding: 0 10px; }
 .sidebar-a .xinan dt a:hover { color: #f90; }
 .sidebar-a .xinan dd { margin-left: 10px; }
 .sidebar-a .xinan dd a:hover{background:#edf7d7;}
 .sidebar-a .xinan dd a { font-size: 14px; background: #eee; padding: 2px 8px; margin-top: 10px; display: inline-block; }

.sidebar-b{border: 1px solid #dfdfdf; background: #fff;margin-bottom:10px; }
.sidebar-b h2{line-height: 40px; padding: 0 15px; font-size: 18px; font-family: 'Microsoft YaHei'; }
.sidebar-b .map-a{}
.sidebar-b .map-a img{width:100%;}
.sidebar-b .look{text-align:center;}
.sidebar-b .look a{color:#f90;font-size:12px;background:url(http://r.uzaicdn.com/content/juhe/search.gif) no-repeat 0 center;padding-left:15px;display:inline;}

.sidebar-c p{line-height:25px;font-size:12px;}
.sidebar-c  .route{padding:10px 15px 10px 10px;}

.sidebar-d .client{padding:0 15px;}
.sidebar-d .client .s2{background:url(http://r.uzaicdn.com/content/v1/images/common/star.png) repeat-x 0 0;width:100px;height:17px;display:inline-block;}
.sidebar-d .writing{padding:10px 15px;line-height:25px;}
.sidebar-d .link{padding:0 15px 10px;}
.sidebar-d .link a{color:#3366CC}
.sidebar-d .link a:hover{color:#f90;}
.sidebar-d li{border-bottom:1px dotted #ccc;padding-top:15px;}
.sidebar-d .more a,.sidebar-e .more a,.sidebar-f .more a,.main .main-mod .more a{padding:10px 15px 10px; }
.sidebar-e dl{padding:15px 15px;border-bottom:1px dotted #ccc;} 
.sidebar-e dt{font-weight:700;margin-bottom:5px;}
.sidebar-e dd{line-height:25px;color:#666;}
.sidebar-e  .a{color:#f90;margin-top:23px;font-weight:700;}
.sidebar-f img{width:90%;padding:10px;margin-left:1px;}
.sidebar-f .i1{padding:10px;}
.sidebar-f .i1 a{color:#3366CC;font-weight:700;}
.sidebar-f .i1-a{border-bottom:1px dotted #ccc;}

.main {margin-left:240px;}
.main .main-mod{border:1px solid #DFDFDF;background:#fff;display:inline-block;}
.main .wai-a{}
.main .pics {width:47%;}
.main .pics img{width:100%;}
.main .about{width:51%;}
.main .about h1{margin-bottom:10px;font-size:32px;}
.main .about p{letter-spacing:1px;line-height:20px;text-indent:2em;}
.main .guide{margin-bottom:20px;padding:10px;}
.main .guide .guild{margin-top:15px;}
.main .guide .guild ul{width:110%;}
.main .guide .guild li{float:left;width:10.5%;background:#eee;height:80px;text-align:center;margin:10px 10px 0 0;}
.main .guide .guild li:hover{background:#edf7d7;}
.main .guide .guild li a{padding-top:50px;display:inline-block;background-repeat:no-repeat;background-position:center 18px;}
.main .guide .guild .icon-1{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-01.png") }
.main .guide .guild .icon-2{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-02.png") }
.main .guide .guild .icon-3{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-03.png") }
.main .guide .guild .icon-4{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-04.png") }
.main .guide .guild .icon-5{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-05.png") }
.main .guide .guild .icon-6{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-06.png") }
.main .guide .guild .icon-7{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-07.png") }
.main .guide .guild .icon-8{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-08.png") }
.main .guide .guild .icon-9{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-09.png") }
.main .guide .guild .icon-10{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-10.png") }
.main .guide .guild .icon-11{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-11.png") }
.main .guide .guild .icon-12{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-12.png") }
.main .guide .guild .icon-13{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-13.png") }
.main .guide .guild .icon-14{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-14.png") }
.main .guide .guild .icon-15{background-image:url("http://r.uzaicdn.com/content/v1/images/huojia/icon-15.png") }
.main .guide .jingdian h2{margin-top:20px;margin-bottom:15px;}
.main .guide .jingdian a{display:inline-block;padding:4px 8px;background:#eee;margin-bottom:10px;}
.main .guide .jingdian a:hover{background:#edf7d7;}
.main .route{display:inline-block;width:100%;vertical-align:top;}
.main .route .hd .on{background:#f60;display:inline-block;padding:2px 5px;color:#fff;}
.main .route .bd .option{margin-bottom:10px;margin-top:-10px;}
.main .route .bd .option li{background:#F4F4F4;float:left;padding:0 8px;line-height:26px;margin-right:5px;}
.main .route .bd .option .on,.main .route .bd .option li:hover{background:#329900;}
.main .route .bd .option .on a,.main .route .bd .option li:hover a{color:#fff;}
.res-con  li{border-bottom:1px dotted #ccc;margin-top:15px;margin-bottom:10px;}
.res-con .res-con-a{width:13%;}
.res-con .res-con-a img{width:100%;height:75px;margin-bottom:15px;}
.res-con .res-con-b{width:71%;margin-left:1%;}
.res-con .res-con-b .interlinkage{color:#3366CC;font-size:16px;display:inline-block;margin-bottom:10px;}
.res-con .res-con-b .gentan{color:#FF3300;}
.res-con .res-con-b .d1{margin-bottom:5px;}
.res-con .res-con-c{width:13%;text-align:center;}
.res-con .res-con-c .price em,.res-con .res-con-c .price i{color:#f60;}
.res-con .res-con-c .preferential{background:url(http://r.uzaicdn.com/content/product/bg.png) no-repeat -53px -255px;height:19px;padding-right:15px;line-height:19px;color:#f60;}

.page{text-align:right;}
.page .p-a0{border:1px solid #CECECE;color:#999;line-height:22px;width:50px;display:inline-block;text-align:center;background:#f8f8f8;}
.page .p-a1{color:#f60;padding:0 8px;}
.page .p-a2{border:1px solid #CECECE;padding:0 8px;line-height:22px;display:inline-block;}
.page .p-a2:hover {color:#f60;}

.notice{width:100%;margin-top:20px;}
.notice table{width:100%;margin-top:10px;}
.notice table thead th{background:#EDF7D7;text-align:center;font-size:12px;padding:8px 0;border:1px solid #e5e5e5;}
.notice table tbody td{text-align:center;font-size:12px;padding:8px 0;border:1px solid #e5e5e5;}
.notice .n-list{line-height:22px;margin-top:10px;} 

.post{width:100%;margin-top:10px;padding-bottom:30px;}
.post .l1{width:32.7%;background:#fff;border:1px solid #dfdfdf;margin-right:0.6%;}
.post .pt-pic{height:195px;overflow:hidden;}
.post .pt-pic a{width:100%;height:100%;display:block;}
.post .pt-pic a img{width:100%;}
.post .hd{padding:8px 10px 0;border-bottom:1px solid #e5e5e5;height:28px;}
.post .hd .tag-items a{display:inline-block;margin-right:5px;border:1px solid #999;padding:0 8px;}
.post .hd .tag-items a:hover{background:#EDF7D7;} 
.post .hd .a1{color:#f60;}
.post .hb{padding:10px;border-bottom:1px solid #e5e5e5;}
.post .hb dt{margin-bottom:10px;}
.post .hb dt a{color:#3366CC;}
.post .hb dt a:hover{color:#f60;}
.post .hb dd .p1{width:10%;}
.post .hb dd .p1 img{width:100%;}
.post .hb dd .p2{width:87%;}
.post .fd{text-align:center;}
.post .fd li{width:30%;border-right:1px solid #dfdfdf;line-height:35px;color:#999;}
.post .fd .on{border-right:none;}
.post .fd .on a{color:#999;}
.post .fd .on a:hover{color:#f60;}
.post .regulation{margin-right:0;}







